#nav-bar {
  background-color: #00A787;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0em 2em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

}

#nav-bar .logo {
  height:80px;
  width:80px;

}

#nav-bar .header {
  margin-left: 4vw;
  font-size: 2.2em;
  color: #e8fdff;
  font-weight: 300;

}

#nav-bar a {
  width: 100px;
  height: 60px;
  border-radius: 5px;
  margin-left: 4vw;
  border: 3px solid #2f5b67;
  background-color: #e8fdff;
  color: #00A787;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: 300;

}

/*a.compose-button {
  display:none;
}*/

#nav-bar a {
  text-decoration: none;
}

#nav-bar a:hover {
  border: 3px solid #2f5b67;
  background-color: #fff;
  color: #666;

}


.register {
  height: auto;
    width: 85%;
    margin-top: 20px;
    border: 1px solid #666;
    display:none;
    padding:20px;
}

#alertExistsAlready {
margin-top: 10px;
}

#alertEmptyNameField {
  margin-top: 10px;
}

#alertPwdTooShort {
  margin-top: 10px;
}

form {
  display:flex; justify-content: center; flex-direction:column; width:30vw; margin:0 auto;
}

.login{
  height: auto;
    width: 85%;
    margin-top: 20px;
    border: 1px solid #666;
    display:none;
    padding:20px;
}

